body {
    padding: 0;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    min-height: 1800px;
}
  
.navbar {
    position: absolute;
    width: 100%;
    background-color: rgb(26, 26, 26);
    height: 5%;
}
  
.navbar-brand {
    position: relative;
    color: white;
    text-decoration: none;
    margin: 5px;
    left: 20px;
    font-size: 18px;
}

.content {
    position: relative;
    display: flex;
    justify-content: center;
    top: 80px;
}

img {
    position: relative;
    top: 200px;
    background-color: rgb(26, 26, 26);
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: none;
    justify-content: center;
}
  
p {
    position: absolute;
    justify-content: center; 
    font-size: 50px;
    color: rgba(66, 161, 255, 0.931);
    top: 100px;
}
  
li .ft-right {
    float: right;
}

.mini-nav ul li a {
    text-decoration: none;
    color: white;
}

.form-horizontal {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 684px;
    height: 1600px;
    background-color: #F3EDED;
    left: 34%;
    margin-top: 3%;
    border-radius: 4px;
}

.form-horizontal p {
    color: rgb(26, 26, 26);
}

.control-group {
    position: relative;
    margin: 20px;
    top: 15%;
}

.control-group .control-label {
    color: rgb(26, 26, 26);
    font-size: 20px;
    padding: 5px 10px;
    margin-left: -10px;
}
#user_profile_pic{
    background-color: white;
}
input {
    border: 1px solid rgba(66, 161, 255, 0.931);
    padding: 10px;
    color: rgba(66, 161, 255, 0.931);
    width: 500px;
    outline: none;
}

.controls .create-Act {
    margin-left: 90px;
    text-decoration: none;
}

.controls .create-Act:hover {
    margin-left: 90px;
    text-decoration: underline;
}

.Btn {
    background-color: white;
    color: rgba(136, 195, 255, 0.931);
    font-size: 20px;
    font-weight: bold;
    padding: 8px;
    width: 300px;
    align-content: center;
    border: 1px solid rgba(136, 195, 255, 0.931);
    border-radius: 4px;
    text-decoration: none;
}

.Btn:hover {
    border: 2px solid rgba(136, 195, 255, 0.931);
    color: white;
    font-weight: bold;
    background-color: rgba(136, 195, 255, 0.931);
    transition: ease-in-out 0.5s;
    box-shadow: 0px 12px 4px -11px rgba(136, 195, 255, 0.931); 
  }


.networks {
    width: 500px;
    outline: none;
    padding: 10px;
    color: rgb(26, 26, 26);
}

.control-group .tellme {
    margin-left: 50px;
}
.colorGroup {
    display: flex;
    justify-content: center;
    margin-left: -80px;
    margin-top: 20px;
    width: 100%;
}

.colorGroup label {
    color: black;
    margin-right: 10px;
}

.colorGroup .colorPicker {
    width: 20%;
}
textarea {
    border: 1px solid rgba(66, 161, 255, 0.931);
    outline: none;
    color: rgba(66, 161, 255, 0.931);
    padding: 10px;
    min-height: 200px;
    max-height: 200px;
    overflow-y: scroll;
}
  

footer {    
    position: fixed;
    flex-direction: column;
    text-align: center;
    width: 100%;
    bottom: -17px;
    left: 0;
}
  
footer ul{
    list-style-type: none;
    display: flex;
    align-items: flex-end;
    background-color: rgb(26, 26, 26);
    padding: 10px;
}
  
footer ul li {
    margin:  5px 10px;
    float: right;
}
